<div ng-include src="'views/partials/Navbar.html'"
	ng-controller="AddAccountController"></div>

<form role="form" name="AddAccountForm"
	style="margin: 0 auto; width: 80%; margin-top: 70px;"
	ng-controller="AddAccountController" novalidate
	ng-submit="OnSubmitAddAccountForm()">

	<div class="form-group">
		<label for="accountName">Account Name</label> <input type="text"
			name="accountName" class="form-control" ng-minlength="3"
			ng-maxlength="15" ng-model="accountName" required> <span
			ng-show="AddAccountForm.accountName.$error.required && AddAccountForm.accountName.$dirty">AccountName
			required</span> <span
			ng-show="!AddAccountForm.accountName.$error.required && (AddAccountForm.accountName.$error.minlength || 
      AddAccountForm.accountName.$error.maxlength) && AddAccountForm.accountName.$dirty">AccountName
			must be between 3 to 15 characters.</span>
	</div>

	<div class="form-group">
		<label for="userId">User ID</label> <input type="text" name="userId"
			class="form-control" ng-minlength="5" ng-maxlength="30"
			ng-model="userId" required> <span
			ng-show="AddAccountForm.userId.$error.required && AddAccountForm.userId.$dirty">userId
			required</span> <span
			ng-show="!AddAccountForm.userId.$error.required && (AddAccountForm.userId.$error.minlength || 
      AddAccountForm.userId.$error.maxlength) && AddAccountForm.userId.$dirty">userId
			must be between 5 to 30 characters.</span>
	</div>

	<div class="form-group">
		<label for="pwd">Password</label> <input type="password" name="pwd" id="pwd"
			style="width: 80%; display: inline;" class="form-control"
			ng-minlength="6" ng-maxlength="20" ng-model="pwd" required> 
			
			<input type="checkbox" ng-model="showpassword" ng-checked="false" ng-change="showPwd()">Show</input>
			
			<span
			ng-show="AddAccountForm.pwd.$error.required && AddAccountForm.pwd.$dirty">pwd
			required</span> <span
			ng-show="!AddAccountForm.pwd.$error.required && (AddAccountForm.pwd.$error.minlength || 
      AddAccountForm.pwd.$error.maxlength) && AddAccountForm.pwd.$dirty">pwd
			must be between 6 to 20 characters.</span>
	</div>

	<div class="form-group">
		<label for="renterPwd">Re-Enter Password</label> <input
			type="password" name="renterPwd" class="form-control"
			ng-minlength="6" ng-maxlength="20" ng-model="renterPwd" nx-equal="pwd" required >
		 <span
			ng-show="AddAccountForm.renterPwd.$error.required && AddAccountForm.renterPwd.$dirty">renter
			Pwd required</span> <span
			ng-show="!AddAccountForm.renterPwd.$error.required && (AddAccountForm.renterPwd.$error.minlength || 
      AddAccountForm.renterPwd.$error.maxlength) && AddAccountForm.renterPwd.$dirty">renter
			Pwd must be between 6 to 20 characters.</span>
			
			<span ng-show="AddAccountForm.renterPwd.$error.nxEqual">Re-enter password must be equal to password</span>
	</div>


	<button type="submit" class="btn btn-primary" style="width: 100%;"
		ng-disabled="!AddAccountForm.$valid">Save</button>
</form>